.tech-img {
    max-width: 50%;
    height: auto;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: darkgrey;
    color: navy;
}
a{
    color: cyan;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: left;
    font-size: 0.9em;
    color: #666;
}
h1 {
    text-align: center;
}
p{
    text-align: left;
}
form {
    border: 1px solid #ccc;
    width: 50%;
    margin: 0 auto;
}
body {
    width:800px;
    margin: 0 auto;
}